BASE_URL = "https://noc-certificate-api.onrender.com"

Summer Research Internship Opportunities:
Below is a curated list of summer research internship opportunities with their respective institutes and application deadlines:

20. https://lnkd.in/d9u8GcWB, IISc , 15 Mar
27. https://lnkd.in/g_KsNdrD, 15 Mar
29. https://lnkd.in/dmx-H_Xt , Bose Institute, 15 Mar
22. https://lnkd.in/dJghqujY, IIT Delhi (for faculty), 19 Mar
6. https://lnkd.in/gqG_c67K, IISc, 21 Mar
16. https://lnkd.in/dK9MyrUs ,HBCSE, TIFR (girl students in mathematics), 21 Mar
41. https://lnkd.in/d9VsZQA8 Mohali, 22 Mar
2. https://lnkd.in/dEP6sSzi, IIT Ropar, 24 Mar
39. https://lnkd.in/gP_bwh8F ,IISc ,25 Mar
40. https://lnkd.in/emWTG3Gz, NISER, 27 Mar
7. https://lnkd.in/dSJYbkQZ , NIT Rourkela, 28 Mar

24. https://lnkd.in/dMUjQJK9 , IIT Guwahati, 30 Mar
3. https://sfp.iitm.ac.in/, IIT Madras, 31 Mar
8. https://lnkd.in/dctTa263 , IMSC, 31 Mar
10. https://lnkd.in/dCnabKzf , ICTS, 31 Mar
12. https://lnkd.in/dq4RuXdK , NGSF, 31 Mar
14. https://lnkd.in/dtdqFX7p , ARCI, 31 Mar
21. https://lnkd.in/gnBE3DjJ ,SNBCBS , 31 Mar
23. https://lnkd.in/dQCH4tja , JNCASR, 31 Mar
25. https://lnkd.in/d_bPtgtR ,IIT Tirupati, 31 Mar
26. https://lnkd.in/dzmy-nfF , CSIR SERC, 31 Mar
28. https://lnkd.in/d_tGn2vy, CSIR SERC, 31 Mar
30. https://lnkd.in/gSjW6xSd , JNCASR, 31 Mar
33. https://lnkd.in/dDHkV2dW, IIM Calcutta, 31 Mar
18. https://lnkd.in/gqsxrzXx ,KAIST,Korea, 31 Mar
34. https://lnkd.in/dpQcDe-p, JNCASR , 31 Mar
36. https://lnkd.in/dFxMGmaz ,IIIT Delhi, 31 Mar
37. https://lnkd.in/ddTkbifu ,IIT Guwahati, 31 Mar
9. https://lnkd.in/d5sAbCRE , ICTS , 6 Apr
11. https://lnkd.in/d-2pRTZd ,IIT Dhanbad, 15 Apr
15. CSIR-CGCRI, 1 May
13. https://lnkd.in/derKJrtK (infosys)
19. https://lnkd.in/dpKqcBWM ,IIIT Kottayam (paid)
31. https://lnkd.in/dWKs-kYF, Institute of NanoScience and Technology, 21 Mar
32. https://lnkd.in/dEP6sSzi, IIT Ropar, 24 Mar
35. https://lnkd.in/dV6dQU5W, monk Prayogshala (hybrid)
38. https://lnkd.in/dBsUma5E , Instem
42. https://lnkd.in/dwj6bEST ,RGIPT ,30 Apr
43. https://lnkd.in/dHC6-Qsq , HBCSE26 Mar